<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<p>
    
    <p> 
        Mi nombre es M. Lucrecia Salas. Actualmente vivo en Buenos Aires. Soy Contadora, pero empecé este curso con la intención de adentrarme en un mundo nuevo para mí, que me permita avanzar en el ámbito del Análisis de Datos y también, por qué no decirlo, con la esperanza de tener alternativas de trabajo remoto que me brinden la posibilidad de elegir dónde vivir. 
    
        Hacer este curso -sumado a las responsabilidades diarias- representó un gran desafío. 
        
    </p>
    
   
    <p> 
        Sin duda fueron meses muy intensos, pero estoy muy contenta de haberlo intentado.
    
    </p>
    
    <p> 
        En otro orden, respecto al trabajo final, debo decir que mi idea original para la primera entrega fue armar algo diferente a lo que se hacía en clase, pero siguiendo lineamientos y dándole una estructura similar.

        En consecuencia, para el trabajo final -y dado el poco tiempo con el que contábamos- entendí que lo mejor sería perfeccionar aquel trabajo presentado. Reconozco que tiene muchas deudas, pero intenté hacerlo de la mejor manera posible.
        
    </p>

    
    <p> 
        El sitio ha sido desarrollado por mí y pensado como un portal interno para uso del personal (administrativo y médico) de un centro de salud.
    
        Desde el HOME, se puede ingresar al portal PACIENTES, donde se muestra el listado de pacientes registrados hasta la fecha de consulta, con el detalle de sus datos personales. También desde allí se puede ir al portal PRESTADORES que muestra el listado de profesionales que brindan servicios en el centro de salud y sus datos de contacto. Y al portal PROVEEDORES, donde se visualiza el registro de los mismos, con información comercial correspondiente (CUIT y CBU) y de contacto.
        
    </p>
    
    <p>
        Los permisos para alta, modificación y baja en las tres páginas mencionadas se encuentran restringidos de forma tal que sólo puedan que sean realizados por usuarios registrados.
    </p>
    <p>
        Enlace al VIDEO: https://drive.google.com/file/d/1E3EJzXcrugY0U_jSutsHUYURSdec1hfd/view?usp=sharing
    </p>
    <p>
        Usuarios registrados:
    </p>
    <p>
        usuario: lucreciasalas
        contraseña: Lucre2509
    </p>
    <p>
        usuario: Prueba2
        contraseña: codercoder
    </p> 
        
    
    </button>
    <a href="{% url 'inicio' %}">Volver</a>
    </button>
    

</p>

</body>
</html>


