{% extends "padre.html" %}

{% load static %}

{% block contenido %}

    <table class="table">
        <thead>
          <h3>Listado Pacientes</h3>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">DNI</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Email</th>        
          </tr>
        </thead>
        <tbody>
            {% for n in pacientes %}
            <tr>
                <th scope="row">{{n.id}}</th>
                <td>{{n.nombre}}</td>
                <td>{{n.edad}}</td>
                <td>{{n.dni}}</td>
                <td>{{n.telefono}}</td>
                <td>{{n.email}}</td>  
                <td><a href="{% url 'elimina_paciente' n.id %}">Borrar</a></td> 
                <td><a href="{% url 'editar_paciente' n.id %}">Editar</a></td>  
                
            </tr>
            {% endfor %}

        </tbody>
      </table>
      </button>
        <a href="alta_pacientes">Agregar Paciente</a>
        <p>     </p>
        <a href="buscar_paciente">Buscar Paciente</a>
        <p>     </p>
        <a href="{% url 'inicio' %}">Volver</a>
      </button>

{% endblock %}
